table{
    width: 80%;
    margin: 40px auto;
    background: rgb(124, 154, 167);
}

.intern{
    position: relative;
}

.list{
    text-align: center;
    width: 100%;
}

td{
    border: 1px solid rgb(204, 200, 200);
    text-align: left;
    padding: 8px 15px;
}

tr:nth-child(even), table.list thead> tr{
    background-color: rgb(204, 200, 200);
}

.desc{
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;

}

input[type="text"], input[type="number"]{
    width: 91%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(165, 161, 161);
    border-radius: 4px;
}

input[type="number"] {
    display: block;
}

input[type="submit"]{
    background: #eee;
    padding: 6px 12px;
    margin: 15px 0 10px;
    display: inline-block;
    border: none;
    border-radius: 30px;
    font-size: 1em;
    cursor: pointer;
    outline: none;
}

input[type="submit"]:hover{
    background: #4b99d8;
}

button{
    background: #eee;
    padding: 6px 12px;
    margin: 15px 0 10px;
    display: inline-block;
    border: none;
    border-radius: 30px;
    font-size: 1em;
    cursor: pointer;
    outline: none;
}

button:hover{
    background: #4b99d8;
}

.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 70px 200px;
    padding: auto;
}

.close{
    width: 20px;
    height: 20px;
    position: absolute;
    background-color: rgb(59, 59, 59);
    color: white;
    top: 30px;
    right: 180px;
    border-radius: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

@media screen and (max-width:480px) {
    table{
        width: 100%;
        
    }
    
    .title {
        margin: 30px 100px;
        padding: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}